# WI-Projekt
Nr. 18

... <br>
... <br>
BA.WIN.22HS.VZa

... <br>
... <br>
BA.WIN.22HS.VZb

Pascal Kern <br>
kernpas1@students.zhaw.ch <br>
BA.WIN.22HS.VZa

## Setup

#### Get required Packages

In [1]:
import json
import os

from langchain_community.agent_toolkits import create_sql_agent
from langchain.agents.agent_toolkits import SQLDatabaseToolkit
from langchain.agents.agent_types import AgentType

credentials = "credentials.json"

with open(credentials, 'r') as f:
    credentials = json.load(f)

# API-Schlüssel setzen
os.environ["OPENAI_API_KEY"] = credentials['openai']['api_key'] # OpenAI

#### Connect to DB

In [4]:
from langchain_community.utilities import SQLDatabase

#db = SQLDatabase.from_uri("sqlite:///DB\Chinook.db")
db = SQLDatabase.from_uri("sqlite:///DB\CarDealer.db")

print(db.dialect)
print(db.get_usable_table_names())

#db.run("SELECT * FROM Artist LIMIT 10;") # Chinook
db.run("SELECT * FROM cars LIMIT 10;") #Car dealer

sqlite
['cars', 'customers', 'mechanics', 'sales', 'salespersons', 'servicerecords']

"[(0, 'C7ZGWFLBUV', 'Toyota', 'Camry', 2019, 'A15 0LX', 21684.48, 'In Maintenance'), (1, 'C875HZ1AG6', 'Ford', 'Mustang', 2021, '435N', 48209.3, 'Sold'), (2, 'CDONEWSWFP', 'Honda', 'Civic', 2021, 'QBA-572', 25172.63, 'In Maintenance'), (3, 'C2UQZP803C', 'BMW', '320i', 2023, '5-92778W', 49999.41, 'In Maintenance'), (4, 'C2WFIK6WEP', 'Chevrolet', 'Malibu', 2020, '300 VLT', 36272.28, 'Sold'), (5, 'CGPCXD8911', 'Honda', 'Accord', 2023, 'TQJ 796', 46933.2, 'Sold'), (6, 'C4RQCO25I9', 'BMW', '320i', 2021, 'HPN 414', 24292.38, 'Available'), (7, 'C9LPTOS9KE', 'Mercedes', 'E-Class', 2021, '241 RAU', 49537.05, 'Available'), (8, 'C3U71M5BP5', 'Honda', 'Accord', 2020, '97-P320', 46892.88, 'Sold'), (9, 'CCKUBGF8P9', 'BMW', 'X5', 2023, 'JCC 664', 49575.53, 'In Maintenance')]"

### Setup Dynamic few-shot-prompt (vektorDB)

#### Load Examples

In [ ]:
# Laden der Beispiele aus der seperaten Datei
with open('Dynamic few-shot-prompts/few-shot-prompts.json', 'r') as f:
    examples = json.load(f)

#### Search based on semantic similarity

In [ ]:
from langchain_community.vectorstores import FAISS
from langchain_core.example_selectors import SemanticSimilarityExampleSelector
from langchain_openai import OpenAIEmbeddings

# Auswählen passender Prompt-Beispiele
example_selector = SemanticSimilarityExampleSelector.from_examples(
    examples,
    OpenAIEmbeddings(),
    FAISS,
    k=5,
    input_keys=["input"],
)

#### Create FewShotPromptTemplate

In [ ]:
from langchain_core.prompts import (
    ChatPromptTemplate,
    FewShotPromptTemplate,
    MessagesPlaceholder,
    PromptTemplate,
    SystemMessagePromptTemplate,
)

# Laden des template_prefix aus einer Textdatei
with open('Dynamic few-shot-prompts/template_prefix.txt', 'r') as f:
    system_prefix = f.read()

few_shot_prompt = FewShotPromptTemplate(
    example_selector=example_selector,
    example_prompt=PromptTemplate.from_template(
        "User input: {input}\nSQL query: {query}"
    ),
    input_variables=["input", "dialect", "top_k"],
    prefix=system_prefix, 
    suffix="",
)

#### Create full prompt

In [ ]:
full_prompt = ChatPromptTemplate.from_messages(
    [
        SystemMessagePromptTemplate(prompt=few_shot_prompt),
        ("human", "{input}"),
        MessagesPlaceholder("agent_scratchpad"),
    ]
)

In [ ]:
# Preview
prompt_val = full_prompt.invoke(
    {
        "input": "Gib mir den Namen des Albums, mit den höchsten Gesamteinnahmen aus Track-Verkäufen, sowie die summierten Einnahmen dieser Tracks und die Anzahl verkaufter Tracks des Albums, basierend auf dem durchschnittlichen Einzelpreis der Tracks.",
        "top_k": 5,
        "dialect": "SQLite",
        "agent_scratchpad": [],
    }
)
print(prompt_val.to_string())

System: You are an agent designed to interact with a SQL database.
Given an input question, create a syntactically correct SQLite query to run, then look at the results of the query and return the answer.
Unless the user specifies a specific number of examples they wish to obtain, always limit your query to at most 5 results.
You can order the results by a relevant column to return the most interesting examples in the database.
Never query for all the columns from a specific table, only ask for the relevant columns given the question.
You have access to tools for interacting with the database.
Only use the given tools. Only use the information returned by the tools to construct your final answer.
You MUST double check your query before executing it. If you get an error while executing a query, rewrite the query and try again.

DO NOT make any DML statements (INSERT, UPDATE, DELETE, DROP etc.) to the database.

If the question does not seem related to the database, just return "I don't know" as the answer.

Here are some examples of user inputs and their corresponding SQL queries:


User input: Finde die Gesamtdauer aller Titel.
SQL query: SELECT SUM(Milliseconds) FROM Track;

User input: Finde die Gesamtanzahl der Rechnungen.
SQL query: SELECT COUNT(*) FROM Invoice;

User input: Wie viele Titel gibt es im Album mit der ID 5?
SQL query: SELECT COUNT(*) FROM Track WHERE AlbumId = 5;

User input: Finde alle Alben des KÃ¼nstlers 'AC/DC'.
SQL query: SELECT * FROM Album WHERE ArtistId = (SELECT ArtistId FROM Artist WHERE Name = 'AC/DC');

User input: Liste alle Titel im Genre 'Rock' auf.
SQL query: SELECT * FROM Track WHERE GenreId = (SELECT GenreId FROM Genre WHERE Name = 'Rock');
Human: Gib mir den Namen des Albums, mit den höchsten Gesamteinnahmen aus Track-Verkäufen, sowie die summierten Einnahmen dieser Tracks und die Anzahl verkaufter Tracks des Albums, basierend auf dem durchschnittlichen Einzelpreis der Tracks.

### Agent OpenAI

In [ ]:
from langchain_openai import ChatOpenAI

llm = ChatOpenAI(model="gpt-4o", temperature=0) ## Which Large Language model are we using?

OpenAI_agent = create_sql_agent(
    llm, 
    toolkit= SQLDatabaseToolkit(llm=llm, db=db), 
    prompt=full_prompt,
    agent_type='tool-calling', 
    top_k=50,
    temperature=0,
    verbose=True)

### Execute

In [ ]:
OpenAI_agent.invoke(
    {"input": "Zeige für jeden Kunden das Genre, das er am häufigsten gekauft hat, zusammen mit der Anzahl und dem Gesamtumsatz dieses Genres, und sortiere das Ergebnis nach dem Gesamtumsatz in absteigender Reihenfolge."}
)

> Entering new SQL Agent Executor chain...

Invoking: `sql_db_list_tables` with `{}`


Album, Artist, Customer, Employee, Genre, Invoice, InvoiceLine, MediaType, Playlist, PlaylistTrack, Track
Invoking: `sql_db_schema` with `{'table_names': 'Customer, Genre, Invoice, InvoiceLine, Track'}`



CREATE TABLE "Customer" (
	"CustomerId" INTEGER NOT NULL,
	"FirstName" NVARCHAR(40) NOT NULL,
	"LastName" NVARCHAR(20) NOT NULL,
	"Company" NVARCHAR(80),
	"Address" NVARCHAR(70),
	"City" NVARCHAR(40),
	"State" NVARCHAR(40),
	"Country" NVARCHAR(40),
	"PostalCode" NVARCHAR(10),
	"Phone" NVARCHAR(24),
	"Fax" NVARCHAR(24),
	"Email" NVARCHAR(60) NOT NULL,
	"SupportRepId" INTEGER,
	PRIMARY KEY ("CustomerId"),
	FOREIGN KEY("SupportRepId") REFERENCES "Employee" ("EmployeeId")
)

/*
3 rows from Customer table:
CustomerId	FirstName	LastName	Company	Address	City	State	Country	PostalCode	Phone	Fax	Email	SupportRepId
1	LuÃ­s	GonÃ§alves	Embraer - Empresa Brasileira de AeronÃ¡utica S.A.	Av. Brigadeiro Faria Lima, 2170	SÃ£o JosÃ© dos Campos	SP	Brazil	12227-000	+55 (12) 3923-5555	+55 (12) 3923-5566	luisg@embraer.com.br	3
2	Leonie	KÃ¶hler	None	Theodor-Heuss-StraÃŸe 34	Stuttgart	None	Germany	70174	+49 0711 2842222	None	leonekohler@surfeu.de	5
3	FranÃ§ois	Tremblay	None	1498 rue BÃ©langer	MontrÃ©al	QC	Canada	H2G 1A7	+1 (514) 721-4711	None	ftremblay@gmail.com	3
*/


CREATE TABLE "Genre" (
	"GenreId" INTEGER NOT NULL,
	"Name" NVARCHAR(120),
	PRIMARY KEY ("GenreId")
)

/*
3 rows from Genre table:
GenreId	Name
1	Rock
2	Jazz
3	Metal
*/


CREATE TABLE "Invoice" (
	"InvoiceId" INTEGER NOT NULL,
	"CustomerId" INTEGER NOT NULL,
	"InvoiceDate" DATETIME NOT NULL,
	"BillingAddress" NVARCHAR(70),
	"BillingCity" NVARCHAR(40),
	"BillingState" NVARCHAR(40),
	"BillingCountry" NVARCHAR(40),
	"BillingPostalCode" NVARCHAR(10),
	"Total" NUMERIC(10, 2) NOT NULL,
	PRIMARY KEY ("InvoiceId"),
	FOREIGN KEY("CustomerId") REFERENCES "Customer" ("CustomerId")
)

/*
3 rows from Invoice table:
InvoiceId	CustomerId	InvoiceDate	BillingAddress	BillingCity	BillingState	BillingCountry	BillingPostalCode	Total
1	2	2021-01-01 00:00:00	Theodor-Heuss-StraÃŸe 34	Stuttgart	None	Germany	70174	1.98
2	4	2021-01-02 00:00:00	UllevÃ¥lsveien 14	Oslo	None	Norway	0171	3.96
3	8	2021-01-03 00:00:00	GrÃ©trystraat 63	Brussels	None	Belgium	1000	5.94
*/


CREATE TABLE "InvoiceLine" (
	"InvoiceLineId" INTEGER NOT NULL,
	"InvoiceId" INTEGER NOT NULL,
	"TrackId" INTEGER NOT NULL,
	"UnitPrice" NUMERIC(10, 2) NOT NULL,
	"Quantity" INTEGER NOT NULL,
	PRIMARY KEY ("InvoiceLineId"),
	FOREIGN KEY("TrackId") REFERENCES "Track" ("TrackId"),
	FOREIGN KEY("InvoiceId") REFERENCES "Invoice" ("InvoiceId")
)

/*
3 rows from InvoiceLine table:
InvoiceLineId	InvoiceId	TrackId	UnitPrice	Quantity
1	1	2	0.99	1
2	1	4	0.99	1
3	2	6	0.99	1
*/


CREATE TABLE "Track" (
	"TrackId" INTEGER NOT NULL,
	"Name" NVARCHAR(200) NOT NULL,
	"AlbumId" INTEGER,
	"MediaTypeId" INTEGER NOT NULL,
	"GenreId" INTEGER,
	"Composer" NVARCHAR(220),
	"Milliseconds" INTEGER NOT NULL,
	"Bytes" INTEGER,
	"UnitPrice" NUMERIC(10, 2) NOT NULL,
	PRIMARY KEY ("TrackId"),
	FOREIGN KEY("MediaTypeId") REFERENCES "MediaType" ("MediaTypeId"),
	FOREIGN KEY("GenreId") REFERENCES "Genre" ("GenreId"),
	FOREIGN KEY("AlbumId") REFERENCES "Album" ("AlbumId")
)

/*
3 rows from Track table:
TrackId	Name	AlbumId	MediaTypeId	GenreId	Composer	Milliseconds	Bytes	UnitPrice
1	For Those About To Rock (We Salute You)	1	1	1	Angus Young, Malcolm Young, Brian Johnson	343719	11170334	0.99
2	Balls to the Wall	2	2	1	U. Dirkschneider, W. Hoffmann, H. Frank, P. Baltes, S. Kaufmann, G. Hoffmann	342562	5510424	0.99
3	Fast As a Shark	3	2	1	F. Baltes, S. Kaufman, U. Dirkscneider & W. Hoffman	230619	3990994	0.99
*/
Invoking: `sql_db_query_checker` with `{'query': 'SELECT c.CustomerId, g.Name AS GenreName, COUNT(il.InvoiceLineId) AS PurchaseCount, SUM(il.UnitPrice * il.Quantity) AS TotalSales \nFROM Customer c\nJOIN Invoice i ON c.CustomerId = i.CustomerId\nJOIN InvoiceLine il ON i.InvoiceId = il.InvoiceId\nJOIN Track t ON il.TrackId = t.TrackId\nJOIN Genre g ON t.GenreId = g.GenreId\nGROUP BY c.CustomerId, g.GenreId\nHAVING PurchaseCount = (\n    SELECT MAX(PurchaseCount) \n    FROM (\n        SELECT COUNT(il2.InvoiceLineId) AS PurchaseCount\n        FROM Invoice i2\n        JOIN InvoiceLine il2 ON i2.InvoiceId = il2.InvoiceId\n        JOIN Track t2 ON il2.TrackId = t2.TrackId\n        WHERE i2.CustomerId = c.CustomerId\n        GROUP BY t2.GenreId\n    )\n)\nORDER BY TotalSales DESC\nLIMIT 50;'}`


```sql
SELECT c.CustomerId, g.Name AS GenreName, COUNT(il.InvoiceLineId) AS PurchaseCount, SUM(il.UnitPrice * il.Quantity) AS TotalSales
FROM Customer c
JOIN Invoice i ON c.CustomerId = i.CustomerId
JOIN InvoiceLine il ON i.InvoiceId = il.InvoiceId
JOIN Track t ON il.TrackId = t.TrackId
JOIN Genre g ON t.GenreId = g.GenreId
GROUP BY c.CustomerId, g.GenreId
HAVING PurchaseCount = (
    SELECT MAX(PurchaseCount)
    FROM (
        SELECT COUNT(il2.InvoiceLineId) AS PurchaseCount
        FROM Invoice i2
        JOIN InvoiceLine il2 ON i2.InvoiceId = il2.InvoiceId
        JOIN Track t2 ON il2.TrackId = t2.TrackId
        WHERE i2.CustomerId = c.CustomerId
        GROUP BY t2.GenreId
    )
)
ORDER BY TotalSales DESC
LIMIT 50;
```
Invoking: `sql_db_query` with `{'query': 'SELECT c.CustomerId, g.Name AS GenreName, COUNT(il.InvoiceLineId) AS PurchaseCount, SUM(il.UnitPrice * il.Quantity) AS TotalSales \nFROM Customer c\nJOIN Invoice i ON c.CustomerId = i.CustomerId\nJOIN InvoiceLine il ON i.InvoiceId = il.InvoiceId\nJOIN Track t ON il.TrackId = t.TrackId\nJOIN Genre g ON t.GenreId = g.GenreId\nGROUP BY c.CustomerId, g.GenreId\nHAVING PurchaseCount = (\n    SELECT MAX(PurchaseCount) \n    FROM (\n        SELECT COUNT(il2.InvoiceLineId) AS PurchaseCount\n        FROM Invoice i2\n        JOIN InvoiceLine il2 ON i2.InvoiceId = il2.InvoiceId\n        JOIN Track t2 ON il2.TrackId = t2.TrackId\n        WHERE i2.CustomerId = c.CustomerId\n        GROUP BY t2.GenreId\n    )\n)\nORDER BY TotalSales DESC\nLIMIT 50;'}`


[(10, 'Rock', 29, 28.71), (29, 'Rock', 25, 24.75), (49, 'Rock', 22, 21.78), (50, 'Rock', 22, 21.78), (55, 'Rock', 22, 21.78), (8, 'Rock', 21, 20.79), (9, 'Rock', 21, 20.79), (38, 'Rock', 21, 20.79), (18, 'Rock', 19, 18.81), (30, 'Rock', 19, 18.81), (33, 'Rock', 19, 18.81), (36, 'Metal', 18, 17.82), (43, 'Rock', 18, 17.82), (44, 'Rock', 18, 17.82), (47, 'Rock', 18, 17.82), (48, 'Rock', 18, 17.82), (53, 'Rock', 18, 17.82), (2, 'Rock', 17, 16.83), (4, 'Rock', 17, 16.83), (28, 'Rock', 17, 16.83), (40, 'Rock', 17, 16.83), (11, 'Latin', 16, 15.84), (12, 'Rock', 16, 15.84), (12, 'Latin', 16, 15.84), (27, 'Rock', 16, 15.84), (35, 'Rock', 16, 15.84), (5, 'Rock', 15, 14.85), (7, 'Rock', 15, 14.85), (19, 'Rock', 15, 14.85), (34, 'Rock', 15, 14.85), (52, 'Latin', 15, 14.85), (1, 'Rock', 14, 13.86), (20, 'Latin', 14, 13.86), (25, 'Rock', 14, 13.86), (26, 'Rock', 14, 13.86), (32, 'Latin', 14, 13.86), (42, 'Metal', 14, 13.86), (14, 'Rock', 13, 12.87), (31, 'Latin', 13, 12.87), (39, 'Rock', 13, 12.87), (58, 'Rock', 13, 12.87), (15, 'Rock', 12, 11.879999999999999), (16, 'Metal', 12, 11.879999999999999), (22, 'Metal', 12, 11.879999999999999), (23, 'Latin', 12, 11.879999999999999), (24, 'Rock', 12, 11.879999999999999), (46, 'Rock', 12, 11.879999999999999), (51, 'Latin', 12, 11.879999999999999), (59, 'Rock', 12, 11.879999999999999), (13, 'Rock', 11, 10.89)]Hier sind die Kunden mit dem Genre, das sie am häufigsten gekauft haben, zusammen mit der Anzahl der Käufe und dem Gesamtumsatz, sortiert nach dem Gesamtumsatz in absteigender Reihenfolge:

1. Kunde 10: Genre "Rock", 29 Käufe, Gesamtumsatz 28,71
2. Kunde 29: Genre "Rock", 25 Käufe, Gesamtumsatz 24,75
3. Kunde 49: Genre "Rock", 22 Käufe, Gesamtumsatz 21,78
4. Kunde 50: Genre "Rock", 22 Käufe, Gesamtumsatz 21,78
5. Kunde 55: Genre "Rock", 22 Käufe, Gesamtumsatz 21,78
6. Kunde 8: Genre "Rock", 21 Käufe, Gesamtumsatz 20,79
7. Kunde 9: Genre "Rock", 21 Käufe, Gesamtumsatz 20,79
8. Kunde 38: Genre "Rock", 21 Käufe, Gesamtumsatz 20,79
9. Kunde 18: Genre "Rock", 19 Käufe, Gesamtumsatz 18,81
10. Kunde 30: Genre "Rock", 19 Käufe, Gesamtumsatz 18,81

Diese Liste zeigt, dass "Rock" das am häufigsten gekaufte Genre ist, gefolgt von "Latin" und "Metal" in einigen Fällen.

> Finished chain.

{'input': 'Zeige für jeden Kunden das Genre, das er am häufigsten gekauft hat, zusammen mit der Anzahl und dem Gesamtumsatz dieses Genres, und sortiere das Ergebnis nach dem Gesamtumsatz in absteigender Reihenfolge.',
 'output': 'Hier sind die Kunden mit dem Genre, das sie am häufigsten gekauft haben, zusammen mit der Anzahl der Käufe und dem Gesamtumsatz, sortiert nach dem Gesamtumsatz in absteigender Reihenfolge:\n\n1. Kunde 10: Genre "Rock", 29 Käufe, Gesamtumsatz 28,71\n2. Kunde 29: Genre "Rock", 25 Käufe, Gesamtumsatz 24,75\n3. Kunde 49: Genre "Rock", 22 Käufe, Gesamtumsatz 21,78\n4. Kunde 50: Genre "Rock", 22 Käufe, Gesamtumsatz 21,78\n5. Kunde 55: Genre "Rock", 22 Käufe, Gesamtumsatz 21,78\n6. Kunde 8: Genre "Rock", 21 Käufe, Gesamtumsatz 20,79\n7. Kunde 9: Genre "Rock", 21 Käufe, Gesamtumsatz 20,79\n8. Kunde 38: Genre "Rock", 21 Käufe, Gesamtumsatz 20,79\n9. Kunde 18: Genre "Rock", 19 Käufe, Gesamtumsatz 18,81\n10. Kunde 30: Genre "Rock", 19 Käufe, Gesamtumsatz 18,81\n\nDiese Liste zeigt, dass "Rock" das am häufigsten gekaufte Genre ist, gefolgt von "Latin" und "Metal" in einigen Fällen.'}